
.add-task__container {
  position: relative;
}

.button-open-addtask {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
 background-color:var(--primary-400);
  color: white;
  transition: background-color 0.3s ease;


}

.button-open-addtask:hover {
 background-color:var(--primary-500);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--background-50);
  border-radius: 8px;
  padding: 2rem;
  width: 30rem;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.modal-close-button {
  position: absolute;
  top: 1px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--secondary-950);
  transition: color 0.3s ease;

}

.modal-close-button:hover {
color: var(--secondary-800);
}

.add-task-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  font-weight: 600;
  font-size: 0.95rem;

}

.add-task-form input,
.add-task-form textarea,
.add-task-form select {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 0.2rem;
  
}

.add-task-form textarea {
  resize: vertical;
}

.button-submit-task {
  background-color:var(--primary-400);
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.button-submit-task:hover {
  background-color:var(--primary-300);
}
