#login-page__main {
    display: flex;
    align-items: center;
    justify-content: center;

 

}

.login__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    width: 60vw;
    border-radius: 1rem;
    background-color: var(--secondary-200);
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.2);
}


.wellcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

    h1 {
        font-size: 2.5rem;
    }
}

.kanban__image {
    width: 60%;
    height: auto;
}

/* Parte onde informa os dados do login */
.login-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 35%;
    padding: 0 2%;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--background-50);
 
    h2 {
        margin: 0;
        font-size: 2rem;
        color: var(--primary-900);

        span {
            font-weight: bold;
        }
    }

    p {
        color: var(--primary-950);
    }
}

.login-form__internal-container {
    width: 100%;
 
}

.login-input__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    color: var(--primary-950);
   
    input,
    select {
        width: 100%;
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid var(--secondary-200);
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
        color: var(--secondary);
        padding: .5rem;

    }

}

.login-button__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
     
    min-height: 5rem;
    min-width: 15rem;
}

.login-button {
    width: 100%;
    height: 2.6rem;
   background-color: var(--secondary-200);
    border-radius: 10px;
    border: 1px solid var(--secondary-200);
    cursor: pointer;

    color: var(--text-900);
    font-size: 1.2rem;
    font-family: var(--font-logo);
    font-weight: 500;
}

.login-button:hover {
    background: var(--primary-500);
}

.forgot-password {
    color: var(--primary);
    font-size: 0.8rem;
}

.forgot-password:hover {
    cursor: pointer;
    color: var(--secondary-300);
    text-decoration: underline var(--secondary);
}