.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.modal-content {
 
  padding: 2rem;
  border-radius: 12px;

  height: 37rem;
  width: 30rem;
 
  animation: slideIn 0.3s ease-out;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  background-color: var(--background-50);
  display: flex;
 justify-content: center;
 align-items: center;
 
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #666;
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}