.task-card__container {
  display: grid;
  grid-template-areas:
    "assigned expand"
    "title title";
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  background-color: var(--primary-50);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid;
  border-left: 5px solid;
  width: 90%;
  cursor: grab;

  color: var(--text-900);
}


.task-card__container:first-child {
  margin-top: .5rem;
}


.task-card__container:last-child {
  margin-bottom: .5rem;
}




.task-assigned {
  grid-area: assigned;
  font-size: 1rem;
  color: var(--text-950);
  align-self: center;
  cursor: pointer;
}

.expand-button {

  grid-area: expand;
  width: 2rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: start;
  justify-self: end;
  cursor: pointer;
  color: var(--primary-950);

  font-weight: 800;
}

.task-title {
  grid-area: title;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.3rem;
  cursor: pointer;
}

.taskcard-cancelled {

  border-color: rgba(var(--cancelled), 0.3);


}

.taskcard-backlog {


  border-color: rgba(var(--backlog), 0.3);


}

.taskcard-active {

  border-left: 5px solid;

  border-color: rgba(var(--inProgress), 0.3);
}

.taskcard-finished {

  border-left: 5px solid;

  border-color: rgba(var(--done), .3);
}


.task-priority {
  margin-top: .5rem;
  color: var(--inProgress);
  font-size: 1rem;

  width: fit-content;
  padding: .5rem;
  border-radius: 15px;
  font-style: normal;
  font-weight: 600;
  font-family: var(-font-read);
}

.task-priority-high {
  color: #e9f2fb;
  background-color: rgba(var(--cancelled), .6);
}

.task-priority-medium {
  color: #e9f2fb;
  background-color: rgba(var(--inProgress), .6);
}

.task-priority-low {
  color: #e9f2fb;
  background-color: rgba(var(--backlog), .6);
}