@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {




  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  --text: #d9d3d9;
  --background: #2a202a;
  --background2: #05002e;
  --primary: #5f80a6;
  --secondary: #823e69;
  --accent: #6f975e;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 16px;
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

html, body, #root, .app-container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

.app-container {
  height: 110vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

[include-html] {
  display: contents;
}

.app-container > *:not(footer):not(header) {
  flex: 1;
}
